:root {
    --background: linear-gradient(#5F939A, #3A6351, #A0937D, #F2EDD7);
}

body {
    background-image: var(--background);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}
button {
    border-radius: 5px;
}
button:hover {
    transform: translate(5px, -10%);
    box-shadow: -5px 5px 5px #A0937D;
}
#choices {
    display: flex;
    justify-content: center;
}
.start-game h2{
    display: flex;
    justify-content: center;
}
header {
    display: flex;
    justify-content: center;
}
.results h2 {
    display: flex;
    justify-content: center;
}